@model DashboardSummary
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 bordered">
        <div class="display">
            <div class="number">
                <h3 class="font-green-sharp">
                    <span data-counter="counterup" data-value="@Model.Profit">0</span>
                    <small class="font-green-sharp">$</small>
                </h3>
                <small>TOTAL PROFIT</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: @Model.ProfitProgress%;" class="progress-bar progress-bar-success green-sharp">
                    <span class="sr-only">@Model.ProfitProgress% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title"> progress </div>
                <div class="status-number"> @Model.ProfitProgress% </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 bordered">
        <div class="display">
            <div class="number">
                <h3 class="font-red-haze">
                    <span data-counter="counterup" data-value="@Model.Feedback">0</span>
                </h3>
                <small>NEW FEEDBACKS</small>
            </div>
            <div class="icon">
                <i class="icon-like"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: @Model.FeedbackChange%;" class="progress-bar progress-bar-success red-haze">
                    <span class="sr-only">@Model.FeedbackChange% change</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title"> change </div>
                <div class="status-number"> @Model.FeedbackChange% </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 bordered">
        <div class="display">
            <div class="number">
                <h3 class="font-blue-sharp">
                    <span data-counter="counterup" data-value="@Model.Order">0</span>
                </h3>
                <small>NEW ORDERS</small>
            </div>
            <div class="icon">
                <i class="icon-basket"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: @Model.OrderGrow%;" class="progress-bar progress-bar-success blue-sharp">
                    <span class="sr-only">@Model.OrderGrow% grow</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title"> grow </div>
                <div class="status-number"> @Model.OrderGrow% </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 bordered">
        <div class="display">
            <div class="number">
                <h3 class="font-purple-soft">
                    <span data-counter="counterup" data-value="@Model.User">0</span>
                </h3>
                <small>NEW USERS</small>
            </div>
            <div class="icon">
                <i class="icon-user"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: @Model.UserChange%;" class="progress-bar progress-bar-success purple-soft">
                    <span class="sr-only">@Model.UserChange% change</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title"> change </div>
                <div class="status-number"> @Model.UserChange% </div>
            </div>
        </div>
    </div>
</div>